html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  /*background: #333333;*/
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.vertical.side.menu {
    height: 100%;
    border-radius: 0;
}

.centered {
    text-align: center;
}

.white-bg {
    background-color: #ffffff;
}

.green-bg {
  background-color: green;
}

.red-bg {
    /*background-color: #ffffff;*/
    text-align: center;
    line-height: 54px;
}

.ui.corner.label {
    margin: 0 !important;
    padding: 0 !important;
}

.align-center {
  text-align: center;
}