<template name="home">
{{#View size="[undefined,undefined]"}}
    {{>Surface template='sidebar' size="[200,undefined]" translate="[-200,0,0]"}}

    {{#HeaderFooterLayout size="[undefined,undefined]" headerSize="46" footerSize="54"}}

        {{>Surface template='menu' modifier="inFront" target="header"}}
            
        {{>View template="mainTemplate" target='content' size="[undefined,undefined]"}}

        {{>View template='bottomMenu' target="footer" size="[undefined,undefined]"}}

    {{/HeaderFooterLayout}}
    {{/View}}
</template>

<template name="sidebar">
    <div class="ui large inverted vertical fluid side menu">
    <div class="item"><b>Inbox</b>
    <div class="menu">
        <div class="item">Messages</div>
    </div>
    <div class="menu">
        <div class="item">Requests</div>
    </div>
    <div class="menu">
        <div class="item"><div class="ui red label">2</div>Drafts</div>
    </div>
    </div>
    <div class="item"><b>Friends</b></div>
    <div class="item"><b>Profile</b></div>
    </div>
</template>

<template name="menu">
    <div class="ui fixed transparent inverted main menu">
        <div class="item sidebar-toggle">
            <i class="large icon list icon"></i>
        </div>
        <div class="item login-btn">
            Login
        </div>
        <div class="item right">More Stuff</div>
    </div>
</template>

<template name="mainTemplate">
    {{>Scrollview template="mainScrollview" size="[undefined,undefined]" direction="X" paginated="true"}}
</template>

<template name='bottomMenu'>
    {{#GridLayout dimensions="[3,1]" size="[200,undefined]" origin="[0.5,0.5]" }}
    {{>Surface template="homeBtn" size="[undefined,undefined]" class="red-bg"}}
    {{>Surface template="calendarBtn" size="[undefined,undefined]" class="red-bg"}}
    {{>Surface template="hornBtn" size="[undefined,undefined]" class="red-bg"}}
    {{! >Surface template="userBtn" size="[undefined,undefined]" class="red-bg"}}
{{/GridLayout}}
</template>

<!-- Main app view -->

<template name="mainScrollview">

    {{>Scrollview template="feed"}}

    {{#Scrollview size="[undefined, undefined]"}}
        {{>Surface template="insertBtn" size="[undefined,50]" classes="centered"}}

        {{#Surface size="[undefined,50]"}}
            <div class="ui horizontal divider">BEGIN</div>
        {{/Surface}}
        
        {{#famousEach myVariables}}
            {{>Surface template="detailTemplate" size="[undefined,50]" classes='centered'}}
        {{/famousEach}}
        
        {{#Surface size="[undefined,75]"}}
            <div class="ui horizontal divider">END</div>
        {{/Surface}}
    {{/Scrollview}}
    
    {{#Surface size="[undefined,undefined]"}}
        <h1>Woof woof!</h1>
    {{/Surface}}
</template>


<template name="detailTemplate">
    <div class="btn-decrease red ui icon button">
        <i class="minus icon"></i>
    </div>
    {{../num}}
    <div class="btn-increase green ui icon button">
        <i class="plus icon"></i>
    </div>
</template>

<!-- Buttons -->

<template name="homeBtn">
    <div class="item">
        <i class="custom-nav inverted circular red icon home"></i>
    </div>
</template>

<template name="calendarBtn">
    <div class="item">
        <i class="custom-nav inverted circular icon calendar"></i>
    </div>
</template>

<template name="hornBtn">
    <div class="item">
        <i class="custom-nav inverted circular icon bullhorn"></i>
    </div>
</template>

<template name="userBtn">
    <div class="item">
        <i class="link large icon user"></i>
    </div>
</template>

<template name="insertBtn">
    <div class="btn-add ui button">Insert</div>
</template>

<!-- Feed -->

<template name="feed">
    {{#Surface size="[undefined,40]"}}
        <h2 class="ui header">Recent Activity</h2>
    {{/Surface}}

{{#Surface size="[undefined,90]"}}
    <div class="event">
        <div class="label">
            <img src="http://www4.images.coolspotters.com/photos/145725/bichon-frise-toy-poodle-cross-profile.jpg"></div>
        <div class="content">
            <div class="date">Just moments ago</div>
            <div class="summary">
                <a>Sally Poodle</a>
                added you as a friend
            </div>
        </div>
    </div>
    {{/Surface}}
{{#Surface size="[undefined,130]"}}
    <div class="event">
        <div class="label">
            <i class="circular pencil icon"></i>
        </div>
        <div class="content">
            <div class="date">3 days ago</div>
            <div class="summary">You submitted a new post to the page</div>
            <div class="extra text">I am a dog and I do not know how to make a post</div>
        </div>
    </div>
    {{/Surface}}
{{#Surface size="[undefined,180]"}}
    <div class="event">
        <div class="label">
            <img src="http://www4.images.coolspotters.com/photos/145725/bichon-frise-toy-poodle-cross-profile.jpg" alt="">
        </div>
        <div class="content">
            <div class="date">3 days ago</div>
            <div class="summary">
                <a>Sally Poodle</a>
                added
                <a>2 new photos</a>
                of you
            </div>
            <div class="extra images">
                <img src="http://im2.peldata.com/bl1/4783/7th.jpg">
                <img src="http://themescompany.com/wp-content/uploads/2011/10/cool-portraits-01.jpg"></div>
        </div>
    </div>
    {{/Surface}}
{{#Surface size="[undefined,180]"}}
    <div class="event">
        <div class="label">
            <img src="http://www4.images.coolspotters.com/photos/145725/bichon-frise-toy-poodle-cross-profile.jpg" alt="">
        </div>
        <div class="content">
            <div class="date">3 days ago</div>
            <div class="summary">
                <a>Sally Poodle</a>
                added
                <a>2 new photos</a>
                of you
            </div>
            <div class="extra images">
                <img src="http://static.pictorymag.com/pictories/Walter_jpg_998x1280_q85.jpg">
                <img src="http://themescompany.com/wp-content/uploads/2011/10/cool-portraits-04.jpg"></div>
        </div>
    </div>
    {{/Surface}}
  {{#Surface size="[undefined,130]"}}
    <div class="event">
        <div class="label">
            <i class="circular pencil icon"></i>
        </div>
        <div class="content">
            <div class="date">3 days ago</div>
            <div class="summary">You submitted a new post to the page</div>
            <div class="extra text">I am a dog and I do not know how to make a post</div>
        </div>
    </div>
    {{/Surface}}

{{#Surface size="[undefined,180]"}}
    <div class="event">
        <div class="label">
            <img src="http://www4.images.coolspotters.com/photos/145725/bichon-frise-toy-poodle-cross-profile.jpg" alt="">
        </div>
        <div class="content">
            <div class="date">3 days ago</div>
            <div class="summary">
                <a>Sally Poodle</a>
                added
                <a>2 new photos</a>
                of you
            </div>
            <div class="extra images">
                <img src="http://placehold.it/400">
                <img src="http://placehold.it/400"></div>
        </div>
    </div>
    {{/Surface}}
  {{#Surface size="[undefined,130]"}}
    <div class="event">
        <div class="label">
            <i class="circular pencil icon"></i>
        </div>
        <div class="content">
            <div class="date">3 days ago</div>
            <div class="summary">You submitted a new post to the page</div>
            <div class="extra text">I am a dog and I do not know how to make a post</div>
        </div>
    </div>
    {{/Surface}}

{{#Surface size="[undefined,180]"}}
    <div class="event">
        <div class="label">
            <img src="http://www.pets4homes.co.uk/images/classifieds/2013/06/13/331686/large/fantastic-fox-red-miniature-poodle-for-stud-520a7f3d8d4c1.jpg" alt="">
        </div>
        <div class="content">
            <div class="date">3 days ago</div>
            <div class="summary">
                <a>Sally Poodle</a>
                added
                <a>2 new photos</a>
                of you
            </div>
            <div class="extra images">
                <img src="http://placehold.it/400">
                <img src="http://placehold.it/400"></div>
        </div>
    </div>
    {{/Surface}}
</template>