<template name="home">
    {{> sidebar}}
    {{> menu}}
    {{> mainTemplate}}
    {{> bottomMenu}}
</template>

<template name="sidebar">
    <div class="ui large inverted vertical sidebar menu">
        <div class="item"> <b>Inbox</b>
            <div class="menu">
                <div class="item">Messages</div>
            </div>
            <div class="menu">
                <div class="item">Requests</div>
            </div>
            <div class="menu">
                <div class="item">
                    <div class="ui red label">2</div>
                    Drafts
                </div>
            </div>
        </div>
        <div class="item"> <b>Friends</b>
        </div>
        <div class="item">
            <b>Profile</b>
        </div>
    </div>
</template>

<template name="menu">
    <div class="ui fixed transparent inverted main menu">
        <div class="item sidebar-toggle"> <i class="large icon list icon"></i>
        </div>
        <div class="item login-btn">Login</div>
        <div class="item right">More Stuff</div>
    </div>
</template>

<template name="mainTemplate">{{> feed}}</template>

<template name='bottomMenu'>
    {{> homeBtn}}
    {{> calendarBtn}}
    {{> hornBtn}}
</template>

<!-- Main app view -->

<template name="mainScrollview"></template>

<template name="detailTemplate">
    <div class="btn-decrease red ui icon button"> <i class="minus icon"></i>
    </div>
    {{num}}
    <div class="btn-increase green ui icon button">
        <i class="plus icon"></i>
    </div>
</template>

<!-- Buttons -->

<template name="homeBtn">
    <div class="item">
        <i class="custom-nav inverted circular red icon home"></i>
    </div>
</template>

<template name="calendarBtn">
    <div class="item">
        <i class="custom-nav inverted circular icon calendar"></i>
    </div>
</template>

<template name="hornBtn">
    <div class="item">
        <i class="custom-nav inverted circular icon bullhorn"></i>
    </div>
</template>

<template name="userBtn">
    <div class="item">
        <i class="link large icon user"></i>
    </div>
</template>

<template name="insertBtn">
    <div class="btn-add ui button">Insert</div>
</template>

<!-- Feed -->

<template name="feed">
    <div class="ui feed">

        <h2 class="ui header">Recent Activity</h2>

        <div class="event">
            <div class="label">
                <img src="http://www4.images.coolspotters.com/photos/145725/bichon-frise-toy-poodle-cross-profile.jpg"></div>
            <div class="content">
                <div class="date">Just moments ago</div>
                <div class="summary">
                    <a>Sally Poodle</a>
                    added you as a friend
                </div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <i class="circular pencil icon"></i>
            </div>
            <div class="content">
                <div class="date">3 days ago</div>
                <div class="summary">You submitted a new post to the page</div>
                <div class="extra text">I am a dog and I do not know how to make a post</div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <img src="http://www4.images.coolspotters.com/photos/145725/bichon-frise-toy-poodle-cross-profile.jpg" alt=""></div>
            <div class="content">
                <div class="date">3 days ago</div>
                <div class="summary">
                    <a>Sally Poodle</a>
                    added
                    <a>2 new photos</a>
                    of you
                </div>
                <div class="extra images">
                    <img src="http://im2.peldata.com/bl1/4783/7th.jpg">
                    <img src="http://themescompany.com/wp-content/uploads/2011/10/cool-portraits-01.jpg"></div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <img src="http://www4.images.coolspotters.com/photos/145725/bichon-frise-toy-poodle-cross-profile.jpg" alt=""></div>
            <div class="content">
                <div class="date">3 days ago</div>
                <div class="summary">
                    <a>Sally Poodle</a>
                    added
                    <a>2 new photos</a>
                    of you
                </div>
                <div class="extra images">
                    <img src="http://static.pictorymag.com/pictories/Walter_jpg_998x1280_q85.jpg">
                    <img src="http://themescompany.com/wp-content/uploads/2011/10/cool-portraits-04.jpg"></div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <i class="circular pencil icon"></i>
            </div>
            <div class="content">
                <div class="date">3 days ago</div>
                <div class="summary">You submitted a new post to the page</div>
                <div class="extra text">I am a dog and I do not know how to make a post</div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <img src="http://www4.images.coolspotters.com/photos/145725/bichon-frise-toy-poodle-cross-profile.jpg" alt=""></div>
            <div class="content">
                <div class="date">3 days ago</div>
                <div class="summary">
                    <a>Sally Poodle</a>
                    added
                    <a>2 new photos</a>
                    of you
                </div>
                <div class="extra images">
                    <img src="http://placehold.it/400">
                    <img src="http://placehold.it/400"></div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <i class="circular pencil icon"></i>
            </div>
            <div class="content">
                <div class="date">3 days ago</div>
                <div class="summary">You submitted a new post to the page</div>
                <div class="extra text">I am a dog and I do not know how to make a post</div>
            </div>
        </div>
        <div class="event">
            <div class="label">
                <img src="http://www.pets4homes.co.uk/images/classifieds/2013/06/13/331686/large/fantastic-fox-red-miniature-poodle-for-stud-520a7f3d8d4c1.jpg" alt=""></div>
            <div class="content">
                <div class="date">3 days ago</div>
                <div class="summary">
                    <a>Sally Poodle</a>
                    added
                    <a>2 new photos</a>
                    of you
                </div>
                <div class="extra images">
                    <img src="http://placehold.it/400">
                    <img src="http://placehold.it/400"></div>
            </div>
        </div>
    </div>
</template>