<template name="loginScreen">
    <div class="ui circular segment front-page-1">
    </div>
    <div class="ui center aligned one column relaxed grid">
    <div class="row"></div>
    <div class="row"></div>
        <div class="row">
            <div class="ui vertical buttons">
                 {{> facebookBtn}}
                 {{> googleBtn}}
                 {{> goInBtn}}
            </div>
        </div>
    </div>
 </template>

<template name="facebookBtn">
    <div class="ui facebook button"> <i class="facebook icon"></i>
        Facebook
    </div>
</template>

<template name="googleBtn">
    <div class="ui google plus button"> <i class="google plus icon"></i>
        Google Plus
    </div>
</template>

<template name="goInBtn">
    <div class="ui positive button">
        <i class="user icon"></i>
        Go Right In
    </div>
</template>